@import '../../style/variables.styl';


.wrapper {
  background: #fff;
  .nav {

    .nav-item {
      color: red;

      &:active {
        background: red !important;
        // color: white !important;
      }
    }
  }

  .tab-content {

    #amis {

      .amis {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
      }
    }

    #requests {

      h3 {
        margin-top: 20px;
      }
      .requests {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
      }

      .no-request {

      }
    }

    #suggestions {

      h3 {
        margin-top: 20px;
      }
       .suggestions {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: auto;
       }

       .no-suggestion {

       }
    }
  }
}
