@import '../../style/variables.styl';

.wrapper {

  .friend {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background: #fff;
    border: 2px solid $darkOrange;
    border-radius: 10px;
    width: 50%;
    min-width: 300px;
    margin: 30px;

    .friend-info {

      margin: auto;
      display: flex;

      .avatar {

        img {

          width: 50px;
          height: 50px;
          border-radius: 50px;

        }

      }

      .pseudo {

        margin: auto 0px auto 10px;

      }

    }

    .choice {

      margin-top: 20px;

      .btn {

        margin-top: 7px;
        background: $orange;
        border: transparent;

      }

    }

  }
  
}
