@import '../../style/variables.styl';


#requests {

}
.wrapper {

  .user {
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 10px;
    background: #fff;
    width: 100%;
    min-width: 300px;

    .user-info {

      display: flex;
      .avatar {

        img {

          width: 50px;
          height: 50px;
          border-radius: 50px;
        }
      }

      .pseudo {
        margin: auto 0 auto 10px;
      }
    }

    .choice {
        margin-top: 20px;
      .btn-primary {

        background: $orange;
        border: transparent;
        bottom: 10px;
        right: 10px;
      }

      .btn-refuse {
        background: $green !important;
        border: transparent;
        bottom: 10px;
        right: 10px;
      }
    }

  }
}
