@import '../../style/variables.styl';

.post {

  margin-top: 20px;
  width: 80%;
  margin: 10px auto;
  border-radius: 20px;
  background: #fff;
  border: 3px solid $orange;

  .header-post {

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    background: $orange;

    .user {

      display: flex;
      justify-content: space-between;

      .user-info {

        width: 100%;

        .post-receive {

          display: flex;
          justify-content: space-between;
          width: 100%;

          .creator {

            display: flex;

            .avatar {

              img {

                width: 50px;
                height: 50px;
                border-radius: 50px;

              }

            }

            .info {

              margin: auto 0 auto 10px;

              p {

                margin: 0

              }

            }

          }

          .title {

            margin: auto 0 auto 10px;

            p {

              margin: 0;

            }

          }

        }

        .post-send {

          display: flex;
          justify-content: space-between;

          .receiver {

            display: flex;

            .avatar {

              img {

                width: 50px;
                hegiht: 50px;
                border-radius: 50px;

              }

            }

            .info  {

              display: flex;

              p {

                margin: auto 10px;

              }

            }

          }

          .title {

            margin: auto 0;

          }

        }

        .post-write {

          display: flex;
          justify-content: space-between;

          p {

            margin: 0;
            padding: 10px 0;

          }

        }

        .post-friend {

          .avatar {

            img {

              width: 50px;
              height: 50px;
              border-radius: 50px;

            }

          }

          .info {

          }

        }

      }

      .user-info {

        .favorite-event {

          display: flex;
          justify-content: space-between;

          p {

            margin: 0;
            padding: 10px 0 ;

          }

        }

        .favorite-event-user {

            display: flex;
            justify-content: space-between;

          .creator {

            display: flex;

            .avatar {

              display: flex;

              img {

                width: 50px;
                height: 50px;
                border-radius: 50px;

              }

            }

            .info {

              margin: auto 0;

              p {

                margin: auto 0 auto 10px;

              }

            }

          }

          .title {

              margin: auto 0;

            p {

              margin: auto 0;

            }

          }

        }

        .participate-event {

          display: flex;
          justify-content: space-between;

          p {

            margin: 0;
            padding: 10px 0;

          }

        }

        .participate-event-user {

          display: flex;
          justify-content: space-between;

        .creator {

          display: flex;

          .avatar {

            display: flex;

            img {

              width: 50px;
              height: 50px;
              border-radius: 50px;

            }

          }

          .info {

            margin: auto 0;

            p {

              margin: auto 0 auto 10px;

            }

          }

        }

        .title {

            margin: auto 0;

          p {

            margin: auto 0;

          }

        }

      }

    }

    .other-wall {

      width: 100%;

      .post {

        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: $orange;

        .bloc-user {

            display: flex;

          .avatar {

            img {

              width: 50px;
              height: 50px;
              border-radius: 50px;

            }

          }

          .info {

            margin: auto 0 auto 10px;

            p {

              margin: 0

            }

          }

        }

        .date {

          margin: auto 0;

          p {

            margin: auto 0 auto 0;

          }

        }

      }

      .event {

        .favorite {

          display: flex;
          justify-content: space-between;

          .bloc-user {

            display: flex;

            .avatar {

              img {

                width: 50px;
                height: 50px;
                border-radius: 50px;

              }

            }

            .info {

              margin: auto 0;

              p {

                margin: auto 0 auto 10px;

              }

            }

          }

          .date {

            margin: auto 0;

            p {

              margin: auto 0;

            }

          }

        }

        .participate {

          display: flex;
          justify-content: space-between;

          .bloc-user {

            display: flex;

            .avatar {

              img {

                width: 50px;
                height: 50px;
                border-radius: 50px;

              }

            }

            .info {

              margin: auto 0;

              p {

                margin: auto 0 auto 10px;

              }

            }

          }

          .date {

            margin: auto 0;

            p {

              margin: auto 0;

            }

          }

        }

      }

    }

  }

  .body-post {

    padding: 10px;
    margin: auto 0;

    .post-no-event {

      text-align: left;
      margin: 20px;
      color: 	#696969;

    }

    .post-event {

      color: #696969;

      .event-info {

      }

      .event-related {

        .related {

          text-align: left;
          margin-left: 10px;
          font-size: 0.8em;

          p {

            margin: 0;

          }

        }

      }

    }

  }

  .border {

    width: 50%;
    margin: auto;
    margin-bottom: 30px;

  }

  .border-top {

    width: 50%;
    margin: auto;
    margin-top: 30px;

  }

  .footer-post {

    .list-comments {

        margin-top: 30px;

      .comment {

        display: flex;
        margin-top: 5px;

        .avatar {

          display: flex;

          img {

            width: 40px;
            height: 40px;
            border-radius: 40px;
            margin-left: 10px;

          }

          p {

            margin: auto 0 auto 5px;
            font-size: 0.8em;

          }

        }

        .comment-post {

          border-radius: 10px;
          padding: 5px;
          margin: auto 0 auto 5px;
          background: lightgrey;

        }

      }

    }

    .post-comment {

      display: flex;
      border-top: 1px solid lightgrey;
      margin-top: 15px;

      .avatar {

        img {

          width: 40px;
          height: 40px;
          border-radius: 30px;
          margin: 10px 0 0 10px;

        }

      }

      .form {

        .form-group {

            margin: 0;
            padding: 10px;

          .input-group {

            width: 100%;

            .form-control {

              background: lightgrey;
              border-radius: 10px;

            }

            button {

              margin-left: 50px;
              background: $orange;
              border: transparent;

            }

          }

        }

      }

    }

  }
  
}
