@import '../../style/variables.styl';


.blocglobal {

  width: 100%;
  min-height: 400px;
  border-radius: 20px;

  .auth-spotify {

    margin: 0 auto 50px auto;
    border: solid 1px black;
    border-radius: 10px;
    background: black;
    width: 70%;
    padding: 10px;
    display: flex;
    cursor: pointer;

    &:hover {

      opacity: 0.8;

    }

    .spotify-image {

      width: 50px;
      height: 50px;

    }

    .auth-text {

      color: white;
      font-size: 1em;
      margin: auto;

    }

  }

  .bloc-title {

      display: flex;
      flex-direction: row;
      background: #fff;

    .avatar-description {

      width: 100px;

      .avatar-description-img {

        width: 100px;

      }

    }

    .info-description {

      margin: auto;

      .info-description-text {

      }

      .description {

      }

    }

  }

  .blocinter {

    display: flex;
    padding : 10px;
    background: whitesmoke;
    min-height: 400px;

    .globalEvents {

      width: 70%;
      height: inherit;
      background: whitesmoke;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-right: 3px solid $orange;

      .globalPost {

        .form {

          background-color: #fff;
          width: 80%;
          margin: 5px auto;
          padding: 20px 0;

          .form-group {

            margin: auto;

            .input-group {

              width: 50%;
              margin: auto;

              .form-control {

              }

            }

          }

        }

      }

      .renderEventsList {

        min-height: 250px;

        .events {

        }

        .noPost {

          height: 250px;

          p {

            line-height: 250px;
          }

        }

      }

    }

    .not-friend {

      width: 70%;
      position: relative;


      .bloc-not-friend {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;

      }

    }

    .information {

      width: 30%;
      height: inherit;
      background: whitesmoke;
      border-radius: 20px;

      .circle {

        width: 150px;
        height: 150px;
        border-radius: 50%;
        color: $orange;
        position: relative;
        margin: 20px auto;

        img {

          border: 10px solid $orange;
          width: 150px;
          height: 150px;
          border-radius: 50%;

        }

        p {

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

        }

      }

      .info-user {

        margin: 50px 0 50px 20px;
        text-align: left;

        p {

          // color: $orange;

          span {

            // color: $darkOrange;

          }

        }

      }

      .friends-user {

        margin: 50px 0 0px 20px;
        text-align: left;

        span {

          // color: $darkOrange;

        }

      }

      .friends-list {

        margin: 0px 0 20px 20px;
        text-align: left;

        .list {

          .friend {

              display: flex;

            .avatar {

              img{

                width: 40px;
                height: 40px;
                border-radius: 40px;

              }

            }

            .pseudo {

              margin: auto 0 auto 10px;

            }

          }

        }

        .remi-sans-famille {

          h3 {

            // color: $orange;

          }

          .suggestion {

            display: flex;
            justify-content: space-between;
            margin: 5px auto;

            .user-info {

              display: flex;

              .avatar {

                line-height: 37px;

                img {

                  margin: auto;
                  width: 30px;
                  border-radius: 30px;

                }

              }

              .pseudo {

                margin: auto 0 auto 5px;
                font-size: 0.8em;

              }

            }

            .friends-demand {

              .btn {

              }

            }

          }

          .btn {

              background: $darkOrange;

          }

        }

      }

    }
    
  }

}
